# python files for todo fasthtml app
main.py
weather.py
breast_cancer_classifier.py

# sqlite databases for the fasthtml app
todos.db
todos.db-shm
todos.db-wal

#data files
Cost_of_Living_Index_by_Country_2024.csv

#folders
/data
/__pycache__

#misc
.sesskey